<div class="my-3 w-75 m-auto card text-center">
    <div class="card-body">
        <h5 class="card-title">About Us</h5>
        <hr>
        <p class="my-3 card-text">Welcome to our Angular-based Todo app! We are committed to simplifying your daily
            tasks and helping you stay organized effortlessly. With our intuitive user interface and powerful features,
            managing your to-do lists has never been easier. Whether you're a busy professional, a student, or simply
            someone who likes to keep things in order, our app is designed to streamline your workflow and boost your
            productivity. Create, prioritize, and categorize tasks with ease, and never miss a deadline again. Stay on
            top of your commitments by setting reminders and receiving notifications, ensuring you're always on track.
            Our app seamlessly syncs across devices, allowing you to access your to-do lists anytime, anywhere. We
            believe in the power of simplicity, efficiency, and effective task management, and our Todo app in Angular
            embodies these principles to help you conquer your day with confidence. Start organizing your life today
            with our feature-rich and user-friendly Todo app!</p>
    </div>
</div>